; TEMPLATE: Replace PLACEHOLDER_* values.
; Critical Android notes (Godot 4.7):
;   - gradle_build/use_gradle_build must be true for AAB pipeline
;   - include_filter="*.txt" required for i18n CSV workaround (Godot bug #38957)
;   - version/code is overridden by CI via sed; local value is a placeholder

[preset.0]

name="Android"
platform="Android"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="*.txt"
exclude_filter=""
export_path=""
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false

[preset.0.options]

custom_template/debug=""
custom_template/release=""
gradle_build/use_gradle_build=true
gradle_build/export_format=0
gradle_build/min_sdk=24
gradle_build/target_sdk=34
architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=false
keystore/debug=""
keystore/debug_user=""
keystore/debug_password=""
keystore/release=""
keystore/release_user=""
keystore/release_password=""
package/unique_name="com.PLACEHOLDER_COMPANY.PLACEHOLDER_GAME"
package/name="PLACEHOLDER_GAME_NAME"
package/signed=true
package/app_category="Game"
package/retain_data_on_uninstall=false
package/exclude_from_recents=false
package/show_as_launcher_icon=true
package/show_in_android_tv=false
package/show_in_home_screen=false
package/show_in_set_wallpaper=false
package/visible_in_launcher_icon=true
launcher_icons/main_192x192=""
launcher_icons/adaptive_foreground_432x432=""
launcher_icons/adaptive_monochrome_432x432=""
graphics/opengl_debug=false
xr_features/xr_mode=0
screen/immersive_mode=true
screen/support_small=false
screen/support_normal=true
screen/support_large=false
screen/support_xlarge=false
version/code=1
version/name="0.1.0"
permissions/access_network_state=false
permissions/internet=false

[preset.1]

name="iOS"
platform="iOS"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="*.txt"
exclude_filter=""
export_path=""

[preset.1.options]

custom_template/debug=""
custom_template/release=""
application/app_store_team_id="PLACEHOLDER_TEAM_ID"
application/bundle_identifier="com.PLACEHOLDER_COMPANY.PLACEHOLDER_GAME"
application/signature=""
application/short_version="0.1"
application/version="1"
application/icon_interpolation=4
application/export_method_debug=0
application/export_method_release=1
architectures/arm64=true
permissions/custom_permissions=PackedStringArray()
